* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
body {
     background-image: linear-gradient(120deg,#f6d365 0%,#fda085 100%);
     color: white;
     font-family: 'Poppins',sans-serif;
     min-height: 100vh;
}
header {
     font-size: 2rem;
     text-transform: capitalize;
}
header,form {
     min-height: 20vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
form input,form button {
     padding: 0.5rem;
     font-size: 2rem;
     border: none;
     background-color: white;
}
form button {
     color: #ff6f47;
     background-color: #f7fffe;
     cursor: pointer;
     transition: all 0.3s ease;
}
form button:hover {
     background-color: #ff6f47;
     color: white;
}
.todo-container {
     display: flex;
     align-items: center;
     justify-content: center;
}
.todo-list {
     min-width: 30%;
     list-style: none;
}
.todo {
     margin: 0.5rem;
     background-color: white;
     color: black;
     font-size: 1.5rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     transition: all 1s ease;
}
.filter-todo {
     padding: 1rem;
     text-transform: capitalize;
}
.todo li {
     flex: 1;
}
.trash-button,.complete-button {
     background-color: #ff6f47;
     color: white;
     border: none;
     padding: 1rem;
     font-size: 1rem;
     cursor: pointer;
}
.complete-button {
     background-color: rgb(11,212,162);
}
.todo-item {
     padding: 0rem 0.5rem;
}
.fa-trash,.fa-check {
     pointer-events: none;
}
.fall {
     transform: translateY(10rem) rotateZ(20deg);
     opacity: 0;
}
.completed {
     text-decoration: line-through;
     opacity: 0.5;
}
select {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     border: 0 !important;
     outline: 0;
     box-shadow: none;
     background-image: none;
     color: #ff6f47;
     font-family: 'Poppins',sans-serif;
     cursor: pointer;
     width: 12rem;
}
.select {
     margin: 1rem;
     position: relative;
     overflow: hidden;
}
.select::after {
     content: "\25BC";
     position: absolute;
     top: 0;
     right: 0;
     padding: 1rem;
     background-color: #ff6f47;
     cursor: pointer;
     pointer-events: none;
}